*{
    margin: 0;
    padding: 0 20px;
    box-sizing: border-box;
    font-family: sans-serif;
}

html{
    font-size: 90.5%;
}

table{
    margin: 5rem auto;
    border-radius: 2rem;
    border: 1rem hidden #443C68;
    border-collapse: collapse;
    box-shadow: 0 0 0 1px black;
    overflow: hidden;
    max-width: 60rem;

}

li, p, a, td{
    font-size: 1.6rem;
    line-height: 1.6;
}

thead{
    font-size: 1.8rem;
    background-color: #443C68;
    color: #fff;
}

th,
td {
    border: 1 px solid #443C68;
    min-width: 10rem;
    padding: 1.0rem;
    line-height: 1.7;
}

td{
    font-size: 1.4 rem;
}

.youtubevideo{
    margin-top: -995px;
    margin-left: 875px;

}

.youtubevideo h4{
    font-family: 'Times New Roman', Times, serif;
}

.addProds{
   border-bottom: 50px;
}

.addProds h1{
    margin-bottom: 10px;
    font-family: 'Times New Roman', Times, serif;
}

.addProds input{
    margin-bottom: 10px;
    border-radius: 10px;
    height: 25px;

}

.addProds button{
    border-radius: 20px;
    height: 22px;
    background-color: red;
}

.marque span{
    font-size: 22px;
    font-family: 'Times New Roman', Times, serif;
    color: red;
}
.marque a{
    font-size:15px;
    font-family: 'Times New Roman', Times, serif;
}

body{
    background-color: #ece8fa;
}